{% extends "admin/base.html" %}

{% block pages %}


<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                        <li class="breadcrumb-item active">My Orders</li>
                    </ol>
                </div>
                <h4 class="page-title">My Orders</h4>
            </div><!--end page-title-box-->
        </div><!--end col-->
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="mt-0 header-title">My Orders</h4>
                    </p>
                    <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Fullname</th>
                            <th>Service</th>
                            <th>Email</th>
                            <th class="text-center">Accept</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for myorder in myorder %}
                            <tr>
                                <td>{{myorder.id}}</td>
                                <td>{{myorder.name}}</td>
                                <td>{{myorder.service}}</td>
                                <td>{{myorder.email}}</td>
                                <td class="text-center">
                                    <a class="btn btn-sm btn-soft-success btn-circle" id="bElim"  href="/admin/myorders/accept/{{myorder.email}}"><i class="dripicons-checkmark" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->
</div><!-- container -->


{% endblock %}