@media screen and (max-width: 990px) {
    .content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    }
    .header h1{
        font-size: 50px;
    }
    .ppimg{
        justify-content: center;
    }
    .aboutme-info{
        padding-top: 20%;
    }
  }
  @media screen and (max-width: 800px) {
    .aboutme-info{
        padding-top: 90px;
    }

  }

  @media screen and (max-width: 748px){
    .header h1{
        font-size: 32px;
    }
  }
  @media screen and (max-width: 500px){
      body{
          width: 500px;
      }
  }


