body{
    padding: 0;
    margin: 0;
}
nav{
    position: sticky;
    width: 100%;
    height: 100px;
    background-color: white;
    z-index: 10;
    top: 0;
    box-shadow: 3px 8px 24px 1px rgba(0,0,0,0.47);
}

.logo h1{
    display: inline;
    padding-top: 9px;
    padding-left: 30px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}
.logo{
    display: inline-flex;
    width: auto;
}
nav ul{
    float: right;
    list-style: none;
    padding-right: 5%;
    padding-top: 17px;
}
nav ul li{
    float: left;
    padding-left: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 32px;
    color: #000;
    font-size: 14px;
}
nav ul li:hover{
    cursor: pointer;
}
.section1{
    background-image: url(../img/elmir.jpg);
    width: 100%;
    height: 658px;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    color: white;
}
.centercontent{
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    width: 100%;
}
.header h1{
    font-family: 'montserrat', sans-serif;
    font-size: 75px;
    font-weight: 700;
}
.social{
    font-size: 20px;
    color: #ffffff;
}
.social i{
    padding-left: 10px;
}
.social i:hover{
    cursor: pointer;
}
.arrow{
    font-size: 20px;
    padding-top: 40px;
}
.arrow i:hover{
    cursor: pointer;
}
.section2{
    height: 100%;
    width: 100%;
    background-color: white;
    
}
.aboutme{
    margin-top: 70px;
    margin-bottom: 70px;
}
.content {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.ppimg{
    flex: 1;
    height: auto;
}
.ppimg img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.content img{
    width: 100%;

}
.aboutme-info{
    padding-left: 40px;
    padding-top: 35px;
    flex: 1;
}
.aboutme-info h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    line-height: 30px;
    color: #333333;
    line-height: 30px;
    font-weight: 400;
}
.aboutme p{
    font-family: 'poppins', sans-serif;
    line-height: 24px;
    font-size: 13px;
    color: #777777;
    font-weight: 400;
}
.section3{
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
}
.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
}
.box{
    width: 270px;
    height: 210px;
    margin-left: 20px;
}
.box i{
    padding-top: 20px;
    font-size: 50px;
    display: flex;
    justify-content: center;
}
.box h1{
    padding-top: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 14px;
    color: #333333;
}
.degreebar{
    margin-top: 20px;
    margin-left: 69px;
    width: 135px;
    height: 8px;
    border-radius: 10px;
    background-color: gray;
    overflow: hidden;
}
.bar{
    height: 100%;
    background: black;
}
.section4{
    height: 100%;
    background-color: white;
}
.portfolioheader{
    margin-top: 100px;
}
.portfolioheader h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif ;
    font-size: 27px;
    line-height: 25px;
    color: #333333;
    font-weight: 700;
}
.filter{
    display: flex;
    justify-content: center;
}
.filter ul{
    list-style: none;
    padding: 0;
}
.filter ul li{
    float: left;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #777777;
    font-weight: 400;
}
.filter ul li:hover{
    cursor: pointer;
}
.portfolio-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.port-box{
    width: 360px;
    height: 360px;
    margin: 20px;
}
.port-box:hover{
    box-shadow: -4px 1px 22px 10px rgba(86,86,86,0.09);
}
.port-box img{
    width: 100%;
    height: 100%;
}
.section5{
    height: 100%;
    width: 100%;
    background-color:#f5f5f5;
}
.header-blog{
    width: 517px;
    text-align: center;
    margin-left: 50%;
    transform: translate(-50%, 50%);
}
.header-blog h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 23px;
    color: #333333;
    line-height: 25px;
}
.header-blog p{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    line-height: 23px;
    color: #777777;
    font-weight: 400;
}
.blogbox{
    width: 358px;
    height: 440px;
    margin: 60px 20px 0px 0px;
}
.blogbox img{
    width: 100%;
    height: 100%;
}
.blogbox h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    line-height: 24px;
}
.blogbox p{
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #777777;
}
.blogbox span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #b9b9b9;
    font-size: 12px;
    line-height: 17px;
}

.blogbox img{
    width: 100%;
    height: 50%;
}
.blogboxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.blogbutton{
    display: flex;
    justify-content: center;
    padding-bottom: 80px
}
.blogbutton button:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
}
.blogbutton button{
    background: none;
    border: 2px solid #000;
    outline: none;
    width: 183px;
    height: 40px;
    border-radius: 60px;
}
footer{
    width: 100%;
    height: 250px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.copyright{
    text-align: center;
    width: 330px;
    color: white;
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #777777;
    line-height: 20px;
    font-weight: 400;
    font-size: 13px;
}
.footer-social i{
    padding-right: 20px;
}