{% extends "admin/base.html" %}
{% block pages %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Blog Pages</a></li>
                        <li class="breadcrumb-item active">Blog Posts</li>
                    </ol>
                </div>
                <h4 class="page-title">Blog Posts</h4>
            </div>
            <!--end page-title-box-->
        </div>
        <!--end col-->
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="mt-0 header-title">Blog Table</h4>
                    <table id="datatable" class="table table-bordered dt-responsive nowrap"
                        style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Catagory</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for portfolio in portfolio %}
                            <tr>
                                <td>{{portfolio.id}}</td>
                                <td>{{portfolio.title}}</td>
                                <td>{{portfolio.subtitle}}</td>
                                <td class="text-center">
                                    <a id="bEdit" type="button" class="btn btn-sm btn-soft-success btn-circle mr-2"
                                        href=""><i class="dripicons-pencil"></i></a>
                                    <a class="btn btn-sm btn-soft-danger btn-circle" id="bElim"
                                        href="" aria-hidden="true"><i
                                            class="dripicons-trash"></i></a>
                                    <a class="btn btn-sm btn-soft-warning btn-circle" id="bElim"
                                        href="" aria-hidden="true"><i
                                            class="dripicons-folder-open"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                       </tbody>
                    </table>

                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->
</div>
{% endblock %}