@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.blog{
    margin-top: 37px;
    width: 107%;
    height: auto;
    border-radius: 8px;
    margin-left: -15px;
    background-color: white;
    padding-top: 30px;
}
.divblog{
    margin-left: 20px;
}
.blogheader{
    position: relative;
    display: inline-block;
}
.blogheader span{
    background-color: #ea2c19;
    position: absolute;
    height: 7px;
    width: 100%;
    bottom: 0;
    opacity: 0.4;
}
.blogheader h1{
    font-size: 18px;
    font-weight: 600;
    position: relative;
    line-height: 20px;
    color: #333333;
    letter-spacing: 1px;
}
.blogboxes{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
}
.blogbox{
    width: 230px;
    height: 96%;
    margin: 20px;
    border-radius: 9px;
    overflow: hidden;
    box-shadow:  2px 2px 18px 0px rgba(188, 188, 188, 1);
}
.blogbox:hover{
    box-shadow: 2px 2px 11px 0px rgba(188, 188, 188, 1);
    cursor: pointer;
    transition: 0.5s;
}
.blogbox .blogcatagory{
    margin-top: 20px;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #afafaf
}
.blogcatagory{
    padding-left: 10px;
}
.blogbox h1{
    padding-left: 10px;
    margin-top: 3px;
    font-size: 15px;
    line-height: 20px;
    color: black;
    font-weight: 500;
}
.blogbox p{
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 18px;
    font-size: 13px;
    color: #989898
}
.blogdate{
    padding-left: 10px;
    padding-bottom: 5px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    color: #505050 !important;
    font-size: 13px !important;
    font-weight: 400 !important;
}
.blogbox img{
    width: 100%;
}