.contactmain{
    margin-top: 37px;
    padding-left: 30px;
    width: 107%;
    height: 979px;
    border-radius: 8px;
    margin-left: -15px;
    background-color: white;
    padding-top: 48px;
}
.contactformheader{
    position: relative;
    display: inline-block;
}
.contactformheader h1{
    font-size: 18px;
    font-weight: 600;
    position: relative;
    line-height: 20px;
    color: #333333;
    letter-spacing: 1px;
}
.contactformheader span{
    background-color: #ea2c19;
    position: absolute;
    height: 7px;
    width: 100%;
    bottom: 0;
    opacity: 0.4;
}
.form-1, .form-2{
    display: inline;
}
form{
    padding-top: 30px;
}
.form-1 input{
    width: 185px;
    height: 31px;
    display: inline;
    margin-right: 20px;
    border-bottom: 1px solid #dfdfdf;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
}
.form-2 input{
    width: 185px;
    height: 31px;
    display: inline;
    border-bottom: 1px solid #dfdfdf;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
}
.form-3{
    padding-top: 30px;
}
.form-3 textarea{
    border-bottom: 1px solid #dfdfdf;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
}
.form-4{
    padding-top: 30px;
    padding-left: 20px;
}
.form-4 button{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: #d81300;
    border: none;
    outline: none;
    color: white;
}
.form-4 button:hover{
    background-color: #ea2c19;
}
.contactform{
    margin-bottom: 50px;
    flex: 1;
}
.contactinfo{
    flex: 1;
}
.contactinfo{
    margin-left: 20px;
}
.contact{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.contact ul{
    margin-top: 20px;
}
.contact ul li p{
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 34px;
    color: #787878;
    font-weight: 400;
}
.contact ul li span{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 34px;
    color: #000000;
    font-weight: 400;
}
