.col-3{
    width: 25%;
}
.openmenu-ul{
    display: none;
}
button.openmenu1{
    display: none;
}
@media screen and (max-width: 1200px){
    #social2{
        display: none;
    }
    .service4{
       margin-top: 20px;
    }
    #menu{
        width: 100%;
    }
    .content{
        width: 105%;
    }
    .blog{
        width: 107%;
    }
    .contactmain{
        width: 105%;
    }
    .portfoliomain{
        width: 105%;
    }
    .degreebar{
        width: 275px;
    }
    .fa-graduation-cap{
        top: 80px;
        left: 375px;
    }
    .resume{
        width: 105%;
    }
    .portfolio{
        width: 105%;
    }
    .sercices{
        margin-left: auto;
        flex-wrap: wrap;
    }
    #mail{
        margin-left: 60px;
    }

}
@media screen and (max-width: 1000px){
    .footer{
        width: 150%;
    }
    .degreebar{
        width: 400px;
    }
    .col-3{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 30px;
    }
    #mail{
        margin-left: 140px;
    }
    .main{
        width: 136%;
    }
    .portfoliomain{
        width: 145%;
    }
    .resume{
        width: 143%;
    }
    .resume1{
        width: 100%;
    }
    .content{
        width: 142%;
    }
    .blog{
        width: 144% !important;
    }
    .contactmain{
        width: 142%;
    }
    .profile-name{
        line-height: 40px;
        padding-top: 16px;
    }
    .name{
        font-size: 25px;
        display: block;
    }
    .job{
        font-size: 20px;
    }
    }
@media screen and (max-width: 998px){
    #mail{
        margin-left: 60px;
    }
    .footer{
        width: 153%;
    }
}

@media screen and (max-width: 995px){
    #mail{
        margin-left: 137px;
    }
}
@media screen and (max-width: 990px){
    #mail{
        margin-left: 72px;
    }
    i.fa.fa-graduation-cap{
        top: 592px;
        left: 39px;
    }
    .service4{
        margin-top: 30px;
    }
    .contact{
        flex-direction: column;
    }
    .skill1{
        margin-left: 70px;
    }
    .skill2{
        margin-left: 70px;
        margin-top: 30px;
    }
    .degreebar{
        width: 400px;
    }
}
 @media screen and (max-width: 768px){
     /* Open Menu */
     .openmenu{
       width: 50px;
       height: 100%;
       border-left: solid 1px #eaeaea;
       display: block;
       margin-left: 100px;
       
    }
    i.fa.fa-graduation-cap{
        top: 652px;
        left: 39px;
    }
    .main nav {
        justify-content: normal;
    }
    .col-3{
        padding-right: 0px;
    }
    .services{
        margin-left: 80px;
    }
    .service1{
        margin-right: 40px;
    }
    .service3{
        margin-right: 40px;
    }
    .service4{
        margin-top: 20px;
    }
    #social2{
        display: block !important;
    }

    .openmenu i{
        font-size: 25px;
        display: flex;
        justify-content: center;
        padding-top: 7px;
        position: relative;
        top: -3%;
        margin-right: -20px;
    }
    .col-9{
        padding-right: 0px;
    }
    .col-sm-4{
        padding-left: 0px;
    }
    .col-3{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 30px;
    }
    .main{
        width: 100%;
    }
    .content{
        width: 150%;
    }
    .blog{
        width: 152%;
    }
    .contactmain{
        width: 150%;
    }
    .portfoliomain{
        width: 150%;
    }
    .itembox{
        width: 200px;
        height: 200px;
    }
    .responsivmenu-ul{
        display: block !important;
    }
    .li-resume h2{
        line-height: 20px;
    }
    .fa-graduation-cap{
        top: 690px;
        left: 40px;
    }
    .resume{
        width: 150%;
        height: auto;
    }
    .history{
        flex-direction: column;
    }
    .homebutton-r{
        background-color: #d81300;
        width: 68px;
        height: 75px;
        position: relative;
        z-index: 1;
    }
    .homeicon-r i{
        display: flex;
        justify-content: center;
        padding-top: 40%;
        color: white;
        position: relative;
        z-index: 2;
        font-size: 22px;
    }
    .main nav{
        width: 136%;
        display: flex;
        justify-content: center;
    }
    #social2{
        display: none;
    }
    #mail{
        display: none;
    }
    .menu-ul{
        display: none;
    }
    .service3{
        margin-top: 20px;
    }
    .skills{
        margin-left: 40px;
    }
    .skill2{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .degreebar{
        width: 360px;
    }
    .footer{
        width: 165%;
    }
    .footer h1{
        display: none;
    }
    .footer h2{
        text-align: center;
        margin-top: 19px;
    }
    #social1{
        display: block;
    }
}
@media screen and (max-width: 575px){
    .openmenu2{
        display: none;
    }
    button.openmenu1{
        display: block;
        display: block;
        position: relative;
        left: 278px;
    }
    .respensivemenuhome{
        display: flex;
    }
    i.fa.fa-graduation-cap{
        top: 635px;
        left: 39px;
    }
    .openmenu1{
        outline: none;
        border: none;
        padding-top: 10xpx !important;
        background: none;
        margin-top: 20px;
        position: relative;
        left: 64px;
    }
    #social2{
        display: none !important;
    }
    #social1{
        display: inline;
    }
}
@media screen and (max-width: 567px){
    i.fa.fa-graduation-cap{
        top: 652px;
        left: 39px;
    }
}
@media screen and (max-width: 555px){

    button.openmenu1{
        left: 270px;
    }
}
@media screen and (max-width: 534px){
    i.fa.fa-graduation-cap{
        top: 668px;
        left: 39px;
    }
}
@media screen and (max-width: 500px){

    button.openmenu1{
        left: 226px;
    }
}
@media screen and (max-width: 450px){

    button.openmenu1{
        position: relative;
        left: 200px;
    }
}
@media screen and (max-width: 424px){

    button.openmenu1{
        position: relative;
        left: 180px;
    }
}
@media screen and (max-width: 400px){

    button.openmenu1{
        position: relative;
        left: 170px;
    }
}
@media screen and (max-width: 376px){

    button.openmenu1{
        position: relative;
        left: 117px;
    }
}
@media screen and (max-width: 376px){

    button.openmenu1{
        position: relative;
        left: 60px;
    }
    .resume{
        width: 160%;
    }
}